.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #000000;/*文字色*/
}

.bio {
  padding: 0.5em;/*文字周りの余白*/
  color: #010101;/*文字色*/
  background: #eaf3ff;/*背景色*/
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.history {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5em;/*文字周りの余白*/
  background: #F8F8FF;/*背景色*/
}

.h1 {
  padding: 0.5em;/*文字周りの余白*/
  background: #eaf3ff;/*背景色*/
}
